@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-color-body {
        background: #1F1517;
    }
}

@layer utilities {
    .teko-600 {
        font-family: 'Teko', sans-serif;
        font-weight: 600;
    }

}

@layer utilities {
    .inter-400 {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }

}

@layer utilities {
    .inter-500 {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }

}

@layer utilities {
    .inter-600 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
    }

}

@layer utilities {
    .inter-700 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }

}

@layer utilities {
    .Epilogue-600 {
        font-family: 'Epilogue', sans-serif;
        font-weight: 600;
    }

}

@layer utilities {
    .montserrat-700 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

}

@layer utilities {
    .montserrat-800 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
    }

}

@layer utilities {
    .max-width-1120 {
        max-width: 1120px;
    }
}

@layer utilities {
    .ul-color {
        color: rgba(255, 242, 231, 0.50);
    }
}

@layer utilities {
    .github-color {
        color: #FFF2E7;
    }
}

@layer utilities {
    .section-hero-color {
        background: #181012;
    }
}

@layer utilities {
    .span-color {
        color: #A45A49;
    }
}

@layer utilities {
    .bg-hr {
        background: #A45A49;
    }
}

@layer utilities {
    .max-width-100 {
        max-width: 100%;
    }
}

@layer utilities {
    .min-width-40 {
        min-width: 40rem;
    }
}

@layer utilities {
    .botão-transformador {
        transform: translate("0, -50%");
    }
}